#text-output {
  min-height: 200px;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
  text-align: left;
}

#text-input {
  min-height: 200px;
}

.editor .col {
  max-width: 50%;
  flex-basis: 50%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.bg-light {
  background-color: lightblue;
}

/* #text-inputs {
  /* padding-top: 30px;
  margin-top: 20px; 
  color: blueviolet;
  vertical-align: initial;
} */

.form-group {
  vertical-align: text-top;
}
